---
import MainLayout from '../layouts/main-layout.astro';
import HomeBlock from '../components/HomeBlock';

const blocks = [
	{
		title: 'Home',
		subTitle: 'This literally takes you to the same page you\'re one right now',
		fullWidth: false
	},
	{
		title: 'About me',
		subTitle: 'My very interesting life story',
		fullWidth: false
	},
	{
		title: 'Projects',
		subTitle: 'My creations 😈',
		fullWidth: true
	},
	{
		title: 'Collections',
		subTitle: 'Some of the things I collect that I think make me cool',
		fullWidth: true
	},
	{
		title: 'Media',
		subTitle: 'The media I consume for entertainment, personal growth, and ✨Knowledge✨',
		fullWidth: false
	},
	{
		title: 'Resume',
		subTitle: 'The piece of paper that defines my career',
		fullWidth: false
	}
]


---
<MainLayout>
	<div class="grid grid-col-2 gap-6 h-full">
		<div class="box-border flex flex-row  max-w-6xl mx-auto pt-6">
			<div class="box-border w-1/2 grid grid-col-1 md:grid-cols-2 lg:grid-cols-2 gap-6 grid-rows-3">
				{blocks.splice(0, 3).map((block) => <HomeBlock title={block.title} subTitle={block.subTitle} fullWidth={block.fullWidth} />)}
			</div>
			<div class="box-border w-1/2 grid grid-col-1 md:grid-cols-2 lg:grid-cols-2 gap-6 grid-rows-6">
				{blocks.map((block) => <HomeBlock title={block.title} subTitle={block.subTitle} fullWidth={block.fullWidth} />)}
			</div>
		</div>
	</div>
</MainLayout>