---
import MainLayout from '../layouts/main-layout.astro';
import { HomeBlock } from '../components/HomeBlock';
const lorem = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, accusantium?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, accusantium?";
---
<MainLayout>
	<div class="h-screen w-screen grid">
		<HomeBlock title="Home" description={lorem}/>
		<HomeBlock title="About" description={lorem}/>
		<HomeBlock title="Resume" description={lorem}/>
		<HomeBlock title="Projects" description={lorem}/>
		<HomeBlock title="Collections" description={lorem}/>
		<HomeBlock title="Media" description={lorem}/>
	</div>
</MainLayout>